CurrencyConverter
SQLAlchemy==1.3.23
TgCrypto
Wikipedia-API
aiohttp
bing-image-downloader
bs4
cinemagoer
covid
deep-translator==1.8.3
gTTS
git-python
hachoir
heroku3
lxml
moviepy
numpy
pillow
psycopg2
pySmartDL
pyfy
pyrotron # https://github.com/TronUb/PyroTron
pytube
pytz
qrcode
speedtest-cli==2.1.3
telegraph
youtube-dl